*{
    margin: 0;
    padding: 0;
    font-family: 'page';
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}   
body{
    overflow-x: hidden;
    height: 100%;
}


header{
    text-align: left;
    background-color: #25262a;
    color: white;
    transition: all 150ms ease-in-out;
    box-shadow: 0 3px 10px 0px grey;
    z-index: 10;
    position: relative;  
    height: 100%;  
}
header span{
    font-family: 'vraititre';
    letter-spacing: 6px;
    padding: 5px 5px;
    font-size: 3.5vh;
    position: relative;
    left: 2%;
}
nav{
    flex-direction: column; 
    margin: auto 0;
    display: none;
    transition: all 300ms;
    transform-origin: top;
}
nav a{
    text-decoration: none;
    text-align: center;
    border: 2px solid #2193b0;
    border-image-slice: 1;
    color: white;
    margin: 5px auto;
    padding: 10px 0px;
    width: 50%;
    border-radius: 30px;
}
header i{
    font-size: 25px;
    position: absolute;
    right: 3%;
    top: 8px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}
#change
{
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    width: 100px;
    position: absolute;
    right: 10%;
    top: 8px;
    margin: 0 30px;
}
#move
{
    width: 50px;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to right, #0d548d, #1cb5e0);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
.changebtn
{
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    background-color: transparent;
    color: white;
}
#level{
    width: 100%;
    background-color: #2193b0;
    height: 3px;
    position: absolute;
    bottom: 0%;
    transform-origin: left;
    transition: 300ms all ease-out;
    display: none;
    transform: scaleX(0);
}
.titre_categ{
    color: #2193b0;
    letter-spacing: 5px;
    cursor: pointer;
}


ul
{
    display: flex;
    text-align: center;
    width: 100%;
    margin: 50px 0;
}
ul li
{
    position: relative;
    top: 50%;
	list-style: none;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	transform: rotate(-30deg) skew(25deg);
}
ul li span
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 300ms ease-in-out;
	display:flex !important;
	align-items: center;
	justify-content: center;
	color: #fff;
    font-size: 30px;
}
@keyframes godown{
    from {
        transform: translate(400%, -400%);
    }
    to {
        transform: translate(0, 0);
    }
}
ul li:hover span:nth-child(5)
{
	transform: translate(40px, -40px);
	opacity: 1;
}
ul li:hover span:nth-child(4)
{
	transform: translate(30px, -30px);
	opacity: .8;
}
ul li:hover span:nth-child(3)
{
	transform: translate(20px, -20px);
	opacity: 0.6;
}
ul li:hover span:nth-child(2)
{
	transform: translate(10px, -10px);
	opacity: .4;
}
ul li:hover span:nth-child(1)
{
	transform: translate(0px, 0px);
	opacity: .2;
}

ul li:nth-child(1) span
{
	background-color: #0073b0;
}
ul li:nth-child(2) span
{
	background-color: #21abf6;
}







#image{
    position: relative;
    top: -5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    border-bottom: 1px solid black;
}
#first_text{
    align-items: right;
}
#first_text p{
    font-size: 25px;
}
#first_text p span{
    color: #2193b0;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

#first_para{
    font-family: 'para';
    font-size: 20px;
    text-align: center;
    margin: 50px 10px;
}



#services{
    text-align: center;
    height: 100%;
    position: relative;
    top: 40px;
    margin: 10px 0px;
}
#services p
{
    font-family: 'para';
    margin-top: 10px;
    line-height: 22px;
}
#service_img{
    width: 100%;
    height: 30vh;
    background-image: url("under.png");
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    position: relative;
}
#service_img p{
    font-family: "blade";
    color: white;
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 20px;
}
#services_container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}
.service{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 200ms all;
    margin: 0 20px;
}
.service:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.service p{
    font-family: 'para';
    width: 50%;
}
.service h1{
    font-size: 15px;
}
.service img{
    width: 25%;
}




#projet_titre{
    text-align: center;
    position: relative;
    top: 90px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}







#container{
    height: 50vh;
    position: relative;
    margin: auto;
    margin: 80px 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
#wrapper
{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 300ms all;
}
.slide
{
    height: 70%;
    transition: 0.3s;
    width: 500px;
    margin: 60px auto;
    border: 1px solid black;
    border-radius: 5px;
}
#buttons{
    display: none;
}
.button
{
    display: none;
}
#buttonleft{
    display: block;
    position: absolute;
    top: 50%;
    left: 1%;
}
#buttonright{
    display: block;
    position: absolute;
    top: 50%;
    right: 1%;
}
#btns_container{
    width: 50vw; height: 5vh;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn_caroussel{
    height: 15px;
    background-color: #536878;
    border-radius: 50px;
    width: 15px;
    transition: all 150ms;
}
.btn_caroussel:hover{
    transform: scale(0.85);
}




#titre_competence{
    text-align: center;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}
#competences{
    height: 100%;
    text-align: center;
    background-color: #25262a;
    padding: 10px 0;
}
#competences p{
    font-family: 'para';
    color: white;
}
.container{
    text-align: center;
    height: 100%;
    margin: 30px 0;
}
.container h5{
    color: white;
}
.out_btn{
    height: 6px;
    width: 90%;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #dddddd;
}
.in_btn{
    transform-origin: left;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
#html_in
{
    transform: scaleX(0.8);
    background-color: #e34c26;
}
#css_in{
    transform: scaleX(0.9);
    background-color: #0070bb;
}
#js_in{
    transform: scaleX(0.68);
    background-color: #f0db4f;
}
#python_in{
    transform: scaleX(0.5);
    background-color: #3472a3;
}
.logo{
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px auto;
}
#html5{
    background-image: url("html.png");
}
#css3{
    background-image: url("css.png");
    height: 80px;
}
#js{
    background-image: url("js.png");
}
#python{
    background-image: url("python.png");
}







#cv_contact{
    height: 100%;
    margin: 16vh 0;
    text-align: center;
}
#cv_contact p{
    font-family: 'para';
    margin-top: 10px;
    line-height: 22px;
}
#cv_btn{
    width: 110px;
    border: none;
    height: 45px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    background-color: #25262aec;
    margin: 20px;
    cursor: pointer;
    transition: 150ms all ease-in-out;
}


#formulaire{
    width: 100%;
    height: 100%;
    background-color: #25262aec;
}
#formulaire form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
}
.champs{
    padding: 10px 10px;
    font-family: serif;
    margin: 10px 0;
    width: 80%;
    border-radius: 30px;
    border: none;
    outline: none;
}
#formulaire textarea{
    width: 80%;
    min-height: 150px;
    border-radius: 15px;
    outline: none;
    overflow: auto;
    margin: 10px 0;
    resize: none;
}
#envoyer_btn{
    width: 110px;
    border: none;
    min-height: 50px;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    background-color: white;
    margin: 20px;
    cursor: pointer;
    transition: 150ms all ease-in-out;
    border: 1px solid transparent;
}





@font-face
{
	font-family: 'page';
	src: url('police/page.otf');
}
@font-face
{
	font-family: 'para';
	src: url('police/para.ttf');
}
@font-face
{
	font-family: 'vraititre';
	src: url('police/vraititre.ttf');
}
@font-face
{
	font-family: 'blade';
	src: url('police/BLADRMF_.ttf');
}